  <div class="constellation_window">
    <div class = "pannel">
      <div class="search">
        <label for="constellation_name">Constellation name: </label>
        <input type="text" [(ngModel)]="constellation_name_search" id="constellation_name" />
        <button type="button" (click)="search_constellation_name(constellation_name_search)">Search</button>
      </div>
    
      <ul class="constellation_list">
        <li *ngFor="let constellation of constellation_list" (click)="handle_event_select_constellation(constellation.constellation_id)" >
          <span class="badge">⭐</span>
          <p class="name">{{ constellation.name }}</p>
        </li>
      </ul>
    </div>
    
    <div 
      class="info_card"
      *ngIf="edited_constellation || new_constellation;"
    >
      <p class="info_card_header">{{edited_constellation ? edited_constellation.name : "New constellation"}} informations:</p>
  
      <label for="info_name" class="name_header">Name:</label>
      <label for="info_description" class="description_header"
        >Description:</label
      >
      <label for="info_right_ascension" class="right_ascension_header"
        >Right ascension:</label
      >
      <label for="info_declination" class="declination_header"
        >Declination:</label
      >
      <label for="info_area" class="area_header">Age:</label>
      <label for="info_stars" class="stars_header">Stars:</label>
      <input
        type="text"
        class="input_name"
        [ngModel]="new_constellation ? new_constellation!.name : edited_constellation!.name" 
        (ngModelChange)="new_constellation ? new_constellation!.name = $event : edited_constellation!.name = $event"  
        (keydown.enter)="new_constellation ? handle_event_confirm_new() : handle_event_confirm_edit()"
      />
  
      <input
        type="text"
        class="input_description"
        [ngModel]="new_constellation ? new_constellation!.description : edited_constellation!.description" 
        (ngModelChange)="new_constellation ? new_constellation!.description = $event : edited_constellation!.description = $event" 
        (keydown.enter)="new_constellation ? handle_event_confirm_new() : handle_event_confirm_edit()"
      />
      <input
        type="text"
        class="input_right_ascension"
        [ngModel]="new_constellation ? new_constellation!.right_ascension : edited_constellation!.right_ascension" 
        (ngModelChange)="new_constellation ? new_constellation!.right_ascension = $event : edited_constellation!.right_ascension = $event" 
        (keydown.enter)="new_constellation ? handle_event_confirm_new() : handle_event_confirm_edit()"
      />
      <input
        type="text"
        class="input_declination"
        [ngModel]="new_constellation ? new_constellation!.declination : edited_constellation!.declination" 
        (ngModelChange)="new_constellation ? new_constellation!.declination = $event : edited_constellation!.declination = $event"
        (keydown.enter)="new_constellation ? handle_event_confirm_new() : handle_event_confirm_edit()"
      />
      <input
        type="number"
        class="input_area"
        [ngModel]="new_constellation ? new_constellation!.area : edited_constellation!.area" 
        (ngModelChange)="new_constellation ? new_constellation!.area = $event : edited_constellation!.area = $event"
        (keydown.enter)="new_constellation ? handle_event_confirm_new() : handle_event_confirm_edit()"
      />
      <button
        type="button"
        class="button_add"
        [disabled]="!new_constellation"
        (click)="handle_event_confirm_new()"
      >
        {{ new_constellation ? "Confirm" : "Add new" }}
      </button>
      <button
        type="button"
        class="button_edit"
        [disabled]="new_constellation"
        (click)="handle_event_confirm_edit()"
      >
        {{ new_constellation ? "Edit" : "Confirm" }}
      </button>
      <button
        type="button"
        class="button_delete"
        [disabled]="selected_constellation === undefined"
        (click)="handle_event_delete_constellation()"
      >
        Delete
      </button>
    </div>

    <div
      class="info_card"
      *ngIf="selected_constellation;"
    >
    <p class="info_card_header">{{selected_constellation.name}} informations:</p>
  
      <label for="info_name" class="name_header">Name:</label>
      <label for="info_description" class="description_header"
        >Description:</label
      >
      <label for="info_right_ascension" class="right_ascension_header"
        >Right ascension:</label
      >
      <label for="info_declination" class="declination_header"
        >Declination:</label
      >
      <label for="info_area" class="area_header">Age:</label>
      <label for="info_stars" class="stars_header">Stars:</label>
      <span class="info_name" id="info_name">{{ selected_constellation.name }}</span>
      <span class="info_description" id="info_description">{{
        selected_constellation.description
      }}</span>
      <span class="info_right_ascension" id="info_right_ascension">{{
        selected_constellation.right_ascension
      }}</span>
      <span class="info_declination" id="info_declination">{{
        selected_constellation.declination
      }}</span>
      <span class="info_area" id="info_area">{{
        selected_constellation.area
      }}</span>
      <span *ngIf="selected_constellation.stars.length > 0;">
        <span class="info_stars" id="info_stars" *ngFor=" let star of selected_constellation.stars" (click)="handle_event_lookup_star(star.name)">
          {{ star.name }}; 
        </span>
      </span>
      <span class="info_stars" id="info_stars" *ngIf="selected_constellation.stars.length === 0;">
        /
      </span>
      
      <button
        type="button"
        class="button_add"
        (click)="handle_event_new_constellation()"
      >
        Add new
      </button>
      <button
        type="button"
        class="button_edit"
        (click)="handle_event_edit_constellation()"
      >
        Edit
      </button>
      <button
        *ngIf="selected_constellation !== undefined"
        type="button"
        class="button_delete"
        (click)="handle_event_delete_constellation()"
      >
        Delete
      </button>
    </div>
  </div>