<ng-template #edit_input>
  <div class="info_card">
    <p class="info_card_header">{{selected_star!.name}} informations:</p>

    <label for="info_name" class="name_header">Name:</label>
    <label for="info_description" class="description_header"
      >Description:</label
    >
    <label for="info_right_ascension" class="right_ascension_header"
      >Right ascension:</label
    >
    <label for="info_declination" class="declination_header"
      >Declination:</label
    >
    <label for="info_apparent_magnitude" class="apparent_magnitude_header"
      >Apparent magnitude:</label
    >
    <label for="info_mass" class="mass_header">Mass:</label>
    <label for="info_radius" class="radius_header">Radius:</label>
    <label for="info_age" class="age_header">Age:</label>
    <input
      type="text"
      class="input_name"
      [ngModel]="new_star ? new_star!.name : edited_star!.name" 
      (ngModelChange)="new_star ? new_star!.name = $event : edited_star!.name = $event"  
      (keydown.enter)="new_star ? handle_event_confirm_new() : handle_event_confirm_edit()"
    />

    <input
      type="text"
      class="input_description"
      [ngModel]="new_star ? new_star!.description : edited_star!.description" 
      (ngModelChange)="new_star ? new_star!.description = $event : edited_star!.description = $event" 
      (keydown.enter)="new_star ? handle_event_confirm_new() : handle_event_confirm_edit()"
    />
    <input
      type="text"
      class="input_right_ascension"
      [ngModel]="new_star ? new_star!.right_ascension : edited_star!.right_ascension" 
      (ngModelChange)="new_star ? new_star!.right_ascension = $event : edited_star!.right_ascension = $event" 
      (keydown.enter)="new_star ? handle_event_confirm_new() : handle_event_confirm_edit()"
    />
    <input
      type="text"
      class="input_declination"
      [ngModel]="new_star ? new_star!.declination : edited_star!.declination" 
      (ngModelChange)="new_star ? new_star!.declination = $event : edited_star!.declination = $event"
      (keydown.enter)="new_star ? handle_event_confirm_new() : handle_event_confirm_edit()"
    />
    <input
      type="number"
      class="input_apparent_magnitude"
      [ngModel]="new_star ? new_star!.apparent_magnitude : edited_star!.apparent_magnitude" 
      (ngModelChange)="new_star ? new_star!.apparent_magnitude = $event : edited_star!.apparent_magnitude = $event"
      (keydown.enter)="new_star ? handle_event_confirm_new() : handle_event_confirm_edit()"
    />
    <input
      type="number"
      class="input_mass"
      [ngModel]="new_star ? new_star!.mass : edited_star!.mass" 
      (ngModelChange)="new_star ? new_star!.mass = $event : edited_star!.mass = $event"
      (keydown.enter)="new_star ? handle_event_confirm_new() : handle_event_confirm_edit()"
    />
    <input
      type="number"
      class="input_radius"
      [ngModel]="new_star ? new_star!.radius : edited_star!.radius" 
      (ngModelChange)="new_star ? new_star!.radius = $event : edited_star!.radius = $event"
      (keydown.enter)="new_star ? handle_event_confirm_new() : handle_event_confirm_edit()"
    />
    <input
      type="number"
      class="input_age"
      id="input_age"
      [ngModel]="new_star ? new_star!.age : edited_star!.age" 
      (ngModelChange)="new_star ? new_star!.age = $event : edited_star!.age = $event"
      (keydown.enter)="new_star ? handle_event_confirm_new() : handle_event_confirm_edit()"
    />
    <button
      type="button"
      class="button_add"
      [disabled]="!new_star"
      (click)="handle_event_confirm_new()"
    >
      {{ new_star ? "Confirm" : "Add new" }}
    </button>
    <button
      type="button"
      class="button_edit"
      [disabled]="new_star"
      (click)="handle_event_confirm_edit()"
    >
      {{ new_star ? "Edit" : "Confirm" }}
    </button>
    <button
      type="button"
      class="button_delete"
      [disabled]="selected_star === undefined"
      (click)="handle_event_delete_star()"
    >
      Delete
    </button>
  </div>
</ng-template>

<div class="star_window">
  <div class="search">
    <label for="star_name">Star name: </label>
    <input type="text" [(ngModel)]="star_name_search" id="star_name" />
    <button type="button" (click)="search_star_name(star_name_search)">Search</button>
  </div>

  <ul class="star_list">
    <li *ngFor="let star of star_list" (click)="handle_event_select_star(star.star_id)" >
      <span class="badge">⭐</span>
      <p class="name">{{ star.name }}</p>
    </li>
  </ul>

  <div
    class="info_card"
    *ngIf="selected_star; else edit_input;"
  >
    <p class="info_card_header">{{selected_star.name}} informations:</p>

    <label for="info_name" class="name_header">Name:</label>
    <label for="info_description" class="description_header"
      >Description:</label
    >
    <label for="info_right_ascension" class="right_ascension_header"
      >Right ascension:</label
    >
    <label for="info_declination" class="declination_header"
      >Declination:</label
    >
    <label for="info_apparent_magnitude" class="apparent_magnitude_header"
      >Apparent magnitude:</label
    >
    <label for="info_mass" class="mass_header">Mass:</label>
    <label for="info_radius" class="radius_header">Radius:</label>
    <label for="info_age" class="age_header">Age:</label>
    <span class="info_name" id="info_name">{{ selected_star!.name }}</span>
    <span class="info_description" id="info_description">{{
      selected_star!.description
    }}</span>
    <span class="info_right_ascension" id="info_right_ascension">{{
      selected_star!.right_ascension
    }}</span>
    <span class="info_declination" id="info_declination">{{
      selected_star!.declination
    }}</span>
    <span class="info_apparent_magnitude" id="info_apparent_magnitude">{{
      selected_star!.apparent_magnitude
    }}</span>
    <span class="info_mass" id="info_mass">{{ selected_star!.mass }}</span>
    <span class="info_radius" id="info_radius">{{
      selected_star!.radius
    }}</span>
    <span class="info_age" id="info_age">{{ selected_star!.age }}</span>
    <button
      type="button"
      class="button_add"
      (click)="handle_event_new_star()"
    >
      Add new
    </button>
    <button
      type="button"
      class="button_edit"
      (click)="handle_event_edit_star()"
    >
      Edit
    </button>
    <button
      *ngIf="selected_star !== undefined"
      type="button"
      class="button_delete"
      (click)="handle_event_delete_star()"
    >
      Delete
    </button>
  </div>
</div>
